@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "JalnanGothic";
  font-weight: bold;
  src: url("./fonts/JalnanGothic.otf") format("truetype");
}
@font-face {
  font-family: "JalnanGothic";
  font-weight: bold;
  src: url("./fonts/JalnanGothic.otf") format("truetype");
}
