#map {
  width: 100%;
  height: 290px; /* Default height slightly reduced */
  min-height: 230px;
  /*min-height: 293px;*/ /* Minimum height adjusted */
  margin-left: 0;
}

/* Adjust the map's height and margins on smaller screens */
@media (max-width: 960px) {
  #map {
    height: 180px; /* Reduced height for medium screens */
    margin-left: 0;
  }
}

/* Further adjustment for very small screens */
@media (max-width: 600px) {
  #map {
    height: 130px; /* Reduced height for small screens */
  }
}